{
  "connection_mode": "cellular",

  "wifi": {
    "ssid": "YOUR_WIFI_SSID",
    "password": "YOUR_WIFI_PASSWORD"
  },

  "cellular": {
    "apn": "YOUR_APN"
  },

  "thingspeak": {
    "api_key": "YOUR_THINGSPEAK_WRITE_API_KEY",
    "host": "api.thingspeak.com",
    "port": 80
  },

  "gps_timeout_seconds": 30,
  "update_interval_seconds": 60
}
